$backgroundColor: rgb(11,12,18);
$color: rgb(255,255,255);
$color-default: rgb(204,204,204);
$color-select:rgb(255,58,58);
//$color-darken:darken($color-select,10%);
$color-use:rgb(118,118,118);
$color-unuse:rgb(60,60,60);

*{ margin:0;padding:0; }
#player{
  height: 100vh;
  background: $backgroundColor;
  overflow: hidden;
  .header{
    text-align: center;
    height: 110px;
    h1{
      color: $color;
      font-size:20px;
      padding-top: 20px;
    }
    p{
      color: $color-default;
      font-size:14px;
      padding-top: 6px;
    }
    .balls{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      span{
        display: block;
        width: 5px;
        height: 5px;
        border-radius:50%;
        background: $color-default;
        margin: 0 4px;
        &.current{
          width: 10px;
          height: 10px;
          background: $color-select;
        }
      }
    }
  }
  .panel{
    height: calc(100vh - 270px);
    width:200vw;
    display: flex;

    transition: transform .3s;
    align-items: center;

    &.panel1{
      transform: translateX(0vw);
    }
    &.panel2{
      transform: translateX(-100vw);
    }
    .panel-effect{
      display: flex;
      width: 100vw;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      .effect{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        >div{
          background-size: contain;
          position: absolute;
        }
        .effect-1{
          background:url("../svg/effect-no-move.svg") 0 0 no-repeat;
          width: 70vw;
          height: 70vw;
          animation:rotate 15s linear infinite;
        }
        .effect-2{
          background:url("../svg/effect-move1.svg") 0 0 no-repeat;
          width: 60vw;
          height: 60vw;
          animation: rotate 10s linear reverse;
        }
        .effect-3{
          background: url("../svg/effect-move2.svg") 0 0 no-repeat;
          width:24vw;
          height:24vw;
          animation: rotate 5s linear infinite;
        }
      }
      .lyrics{
        text-align: center;
        margin-top:24px;
        p{
          font-size:14px;
          color:$color-default;
          margin-top: 8px;
          &.current{
            color:$color;
          }
        }
      }
    }
    .panel-lyrics{
      width:100vw;
      height:100%;
    }
  }
  .footer{
    height: 160px;
    .buttons{
      display: flex;
      justify-content: space-between;
      svg{
        color:$color-default;
        width:24px;
        height: 24px;
        margin: 0 20px;
      }
    }
    .area-bar{
      color:$color-default;
      font-size: 12px;
      padding:0 20px;
      margin-top:30px;
      display: flex;
      align-items: center;
      .time-start{ order: 1;}
      .time-end{ order: 3;}
      .bar{
        order:2;
        flex-grow: 1;
        height:4px;
        background:$color-unuse;
        border-radius: 2px;
        margin:0 10px;
        .progress{
          width:20%;
          height:100%;
          border-radius: 2px;
          background: $color-use;
          position:relative;
          &::after{
            content: '';
            position:absolute;
            right:0;
            top:-7px;
            display: block;
            width:16px;
            height:16px;
            background: url("../svg/progress.svg") 0 0 no-repeat;
            background-size:contain;
          }
        }
      }
    }
    .actions{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top:25px;
      .icon{
        color:$color-default;
        width:36px;
        height: 36px;
        margin:0 20px;
      }
    }
  }
}
@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg)}
}